body {
    font-family: Arial, sans-serif;
    color:violet;
    background-color:lavenderblush;

  }
  h1 {
text-align: center;
    margin-bottom: 30px;
    color:blueviolet;
    font-family: Arial, Helvetica, sans-serif;
  
  }
  h3{
    color:black
  }
  p{
    font-size: 16px;
    color:blue;
 }